<?xml version="1.0" encoding="UTF-8"?>

<Configuration status="WARN">

	<Appenders>

		<Console
			name="console"
			target="SYSTEM_OUT"
		>
			<PatternLayout pattern="[%-5level] %d{dd-MMM-yy HH:mm:ss.SSS} %logger{36}.%M() - %msg%n" />
		</Console>

	</Appenders>

	<Loggers>

		<Logger
			name="org.springframework"
			level="warn"
			additivity="false"
		>
			<AppenderRef ref="console" />

		</Logger>

		<Logger
			name="org.springframework.jms"
			level="trace"
			additivity="false"
		>
			<AppenderRef ref="console" />

		</Logger>


		<Logger
			name="com.palscash.node"
			level="debug"
			additivity="false"
		>
			<AppenderRef ref="console" />


		</Logger>

		<Root
			level="info"
			additivity="false"
		>
			<AppenderRef ref="console" />

		</Root>
	</Loggers>

</Configuration>